@font-face {
  font-family: "nicomoji";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/nicomoji/nicomoji-regular.ttf");
}
@font-face {
  font-family: "acula";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/acula/aculaRegular.ttf");
}
.container {
  margin: 0 auto;
  top: 0;
  max-width: 1180px;
}

body {
  background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
  font-family: "acula";
  height: 2000px;
}

a {
  color: #E4E4E4;
  white-space: nowrap;
}

header .headerBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 220px;
     -moz-column-gap: 220px;
          column-gap: 220px;
  padding: 30px;
}
header .headerBlock .logoBlock a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
header .headerBlock nav {
  max-width: 710px;
}
header .headerBlock nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 145px;
     -moz-column-gap: 145px;
          column-gap: 145px;
}
header .headerBlock nav ul li a {
  font-family: "acula";
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.wellcome .wellcome__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 27px;
  width: 50%;
  margin-top: 200px;
}
.wellcome .wellcome__left h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 24px;
  color: antiquewhite;
}
.wellcome .wellcome__left h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 81px;
  color: antiquewhite;
}
.wellcome .wellcome__left p {
  font-size: 18px;
  line-height: 22px;
  color: antiquewhite;
}
.wellcome .wellcome__left button {
  text-transform: uppercase;
  color: black;
  background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
  -webkit-box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
          box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
  border-radius: 6px;
  font-family: nicomoji;
  font-weight: 700;
  line-height: 20px;
  width: 200px;
  height: 47px;
}
